*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(to right, red, blue);
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
    padding-top: 50px;
    
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 15px;
}

h1{
    font-size: 3rem;
    align-self: center;
}

input{
    width: 70%;
    padding: 10px;
    border-radius: 0.7em;
    margin-right: 10px;
}

ul{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

button{
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0.7em;
}

button:hover{
    background-color: red;
    border-color: red;
    cursor: pointer;
}
button:active{
    background-color: green;
    border-color: green;
}

.item{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 2px;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

.item i{
    cursor: pointer;
    margin: 0 5px;
}

.list{
    width: 90%;
}

li{
    color: green;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 3px 1px red;
    cursor: pointer;
    margin: 0.6rem 0;
    padding-right: 60px;
}

.deletequestion{
    background-color: #fff;
    display: none;
    z-index: 100;
    position: fixed;
    top: 20%;
    border-radius: 0.6em;
    width: 30%;
    box-shadow: 2px 2px 3px 1px grey;

}

.deletequestion.visible{
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;

}

.deletequestion h2{
    border-radius: 0.6em 0.6em 0 0;
    background-color: magenta;
    padding: 8px;
    font-size: 1em;
    color: #fff;

}

.deletequestion p{
    font-size: 0.7em;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1em;
}

.approval{
    padding: 0.7rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.qust{
    font-size: 0.8em;
    padding: 5px;
}

.back {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    display: none;
}

.back.visible {
    display: block;
    pointer-events: all;
}

@media screen and (width <= 948px) {

    .deletequestion p{
        font-size: 0.9em;
    }

    .deletequestion h2{
        font-size: 0.9em;
    }
}

@media screen and (width <= 859px) {

    .deletequestion p{
        font-size: 0.75em;
    }

    .deletequestion h2{
        font-size: 0.75em;
    }
}

@media screen and (width <= 760px) {

    .deletequestion h2{
        font-size: 0.7em;
    }

    
    .qust{
        font-size: 0.6em;
        padding: 4px;
    }
    
    .deletequestion p{
        font-size: 0.7em;
        padding: 7px;

    }

    .approval{
        padding: 0.4rem;
        
    }
    
}


@media screen and (width <= 514px) {

    .deletequestion h2{
        font-size: 0.5em;
    }

    .deletequestion{
        width: 40%;
    }

    
    .qust{
        font-size: 0.4em;
        padding: 4px;
    }
    
    .deletequestion p{
        font-size: 0.5em;
        padding: 7px;

    }

    .approval{
        padding: 0.5rem;
        
    }

    h1{
        font-size: 39px;
        align-self: center;
    }

    input{
        padding: 6px;
        width: 75%;
    }

    .item{
        width: 100%;
        padding: 6px;
        font-size: 12px;
    }

    button{
        padding: 5px 9px;
    }
    
}

@media screen and (width <= 381px) {

    .deletequestion h2{
        font-size: 0.3em;
    }

    
    .qust{
        font-size: 0.1em;
        padding: 2px;
    }
    
    .deletequestion p{
        font-size: 0.3em;
        padding: 7px;

    }

    .approval{
        padding: 0.3rem;
        
    }

    h1{
        font-size: 32px;
    }

    input{
        padding: 6px;
        width: 65%;
    }

    .item{
        width: 100%;
    }

    button{
        padding: 5px 9px;
    }
    
}

@media screen and (width <= 300px) {
    h1{
        font-size: 28px;
    }

    input{
        padding: 6px;
        width: 60%;
    }

    .item{
        padding: 5px;
        font-size: 9px;
        width: 100%;
    }

    button{
        padding: 5px 9px;
    }
    
    
}

@media (max-width:290px) {

    .deletequestion{
        width: 30%;
    }

    .deletequestion h2{
        font-size: 0.1em;
        padding: 5px;
    }

    
    .qust{
        font-size: 0.1em;
        padding: 2px;
    }
    
    .deletequestion p{
        font-size: 0.1em;
        padding: 5px;
    }

    .deletequestion{
        width: 60%;
    }

    .approval{
        padding: 0.3rem;
        
    }
}

@media (max-width:171px) {

    h1{
        font-size: 21px;
    }

    input{
        padding: 3;
        width: 55%;
    }

    .item{
        padding: 4px;
        font-size: 7px;
    }

    .qust{
        font-size: 0.02em;
        padding: 2px;
    }

    button{
        padding: 3px 7px;
    }
}
